@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


$bodyFont : 'Staatliches';
$listItemsFont : 'Roboto Slab';
$seriesFont: 'Forum';

//variabili colore
$whiteColor : white;
$blackColor : black;
$dcLogoColor : #0282f9;
$downerFooterBg : #303030;